.tree {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 10px;
}
.tree .item .title-edit input {
  border: 1px solid #8c8c8c;
  outline: none;
  padding: 2px;
}
.tree .item .title-edit span {
  margin-left: 4px;
  margin-right: 4px;
  color: #8c8c8c;
}
.tree .item .highlight {
  background-color: #ba0000;
  color: white;
}
.tree .file .icon-file {
  background-image: url("img/file.gif");
}
.tree .file.editing {
  padding-top: 0px;
  padding-bottom: 0px;
}
.tree .folder .icon-folder {
  background-image: url("img/folder-closed.gif");
}
.tree .folder .icon-folder.open {
  background-image: url("img/folder-open.gif");
}
.tree .folder .arrow {
  float: left;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.tree .folder .arrow .arrow-icon {
  float: left;
  width: 0;
  height: 0;
  margin-top: 1px;
  margin-left: 3px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}
.tree .folder .arrow .arrow-icon.open {
  margin-top: 3px;
  margin-left: 0px;
  border-bottom: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.tree .hidden {
  display: none !important;
}
.tree .highlight {
  color: #1e90ff;
}
.tree .icon {
  float: left;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.tree span.title {
  cursor: default;
}
.tree .strong {
  font-weight: bold;
}
.tree ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.tree li {
  margin: 2px;
  padding: 4px;
  padding-left: 20px;
}
.tree #search input {
  border: 1px solid #696969;
  height: 20px;
  margin-bottom: 8px;
}
.tree #search #results {
  display: inline-block;
}
.tree #search #results #clear-results {
  cursor: pointer;
}
.tree *:focus {
  outline: none;
}
