.tree {
  @import "item.less";
  @import "file.less";
  @import "folder.less";

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 10px;

  .hidden {
    display: none;
  }

  .icon {
    float: left;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin-right: 5px;
  }

  span.title {
    cursor: default
  }

  .strong {
    font-weight: bold;
  }

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  li {
    margin: 2px;
    padding: 4px;
    padding-left: 20px;
  }
}