.tree {
  @import "file.less";
  @import "folder.less";

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;

  float: left;
  padding: 10px;

  .hidden {
    display: none;
  }
}