.leaf {
  .leaf-content {
    border-bottom: 1px solid #dddddd;
  }

  .leaf-icon {
    display: none;
  }

  &.editing {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .leaf-content {
    background: #f5f5f5;
    padding-left: 12px;
  }
}