.list {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 10px;
  width: 240px;
  color: #4b4b4b;
}
.list .glyphicon {
  background-image: url("../glyphicons/../glyphicons/glyphicons-halflings.png");
}
.list .icon-glass {
  background-position: 0      0;
}
.list .icon-music {
  background-position: -24px 0;
}
.list .icon-search {
  background-position: -48px 0;
}
.list .icon-envelope {
  background-position: -72px 0;
}
.list .icon-heart {
  background-position: -96px 0;
}
.list .icon-star {
  background-position: -120px 0;
}
.list .icon-star-empty {
  background-position: -144px 0;
}
.list .icon-user {
  background-position: -168px 0;
}
.list .icon-film {
  background-position: -192px 0;
}
.list .icon-th-large {
  background-position: -216px 0;
}
.list .icon-th {
  background-position: -240px 0;
}
.list .icon-th-list {
  background-position: -264px 0;
}
.list .icon-ok {
  background-position: -288px 0;
}
.list .icon-remove {
  background-position: -312px 0;
}
.list .icon-zoom-in {
  background-position: -336px 0;
}
.list .icon-zoom-out {
  background-position: -360px 0;
}
.list .icon-off {
  background-position: -384px 0;
}
.list .icon-signal {
  background-position: -408px 0;
}
.list .icon-cog {
  background-position: -432px 0;
}
.list .icon-trash {
  background-position: -456px 0;
}
.list .icon-home {
  background-position: 0 -24px;
}
.list .icon-file {
  background-position: -24px -24px;
}
.list .icon-time {
  background-position: -48px -24px;
}
.list .icon-road {
  background-position: -72px -24px;
}
.list .icon-download-alt {
  background-position: -96px -24px;
}
.list .icon-download {
  background-position: -120px -24px;
}
.list .icon-upload {
  background-position: -144px -24px;
}
.list .icon-inbox {
  background-position: -168px -24px;
}
.list .icon-play-circle {
  background-position: -192px -24px;
}
.list .icon-repeat {
  background-position: -216px -24px;
}
.list .icon-refresh {
  background-position: -240px -24px;
}
.list .icon-list-alt {
  background-position: -264px -24px;
}
.list .icon-lock {
  background-position: -287px -24px;
}
.list .icon-flag {
  background-position: -312px -24px;
}
.list .icon-headphones {
  background-position: -336px -24px;
}
.list .icon-volume-off {
  background-position: -360px -24px;
}
.list .icon-volume-down {
  background-position: -384px -24px;
}
.list .icon-volume-up {
  background-position: -408px -24px;
}
.list .icon-qrcode {
  background-position: -432px -24px;
}
.list .icon-barcode {
  background-position: -456px -24px;
}
.list .icon-tag {
  background-position: 0 -48px;
}
.list .icon-tags {
  background-position: -25px -48px;
}
.list .icon-book {
  background-position: -48px -48px;
}
.list .icon-bookmark {
  background-position: -72px -48px;
}
.list .icon-print {
  background-position: -96px -48px;
}
.list .icon-camera {
  background-position: -120px -48px;
}
.list .icon-font {
  background-position: -144px -48px;
}
.list .icon-bold {
  background-position: -167px -48px;
}
.list .icon-italic {
  background-position: -192px -48px;
}
.list .icon-text-height {
  background-position: -216px -48px;
}
.list .icon-text-width {
  background-position: -240px -48px;
}
.list .icon-align-left {
  background-position: -264px -48px;
}
.list .icon-align-center {
  background-position: -288px -48px;
}
.list .icon-align-right {
  background-position: -312px -48px;
}
.list .icon-align-justify {
  background-position: -336px -48px;
}
.list .icon-list {
  background-position: -360px -48px;
}
.list .icon-indent-left {
  background-position: -384px -48px;
}
.list .icon-indent-right {
  background-position: -408px -48px;
}
.list .icon-facetime-video {
  background-position: -432px -48px;
}
.list .icon-picture {
  background-position: -456px -48px;
}
.list .icon-pencil {
  background-position: 0 -72px;
}
.list .icon-map-marker {
  background-position: -24px -72px;
}
.list .icon-adjust {
  background-position: -48px -72px;
}
.list .icon-tint {
  background-position: -72px -72px;
}
.list .icon-edit {
  background-position: -96px -72px;
}
.list .icon-share {
  background-position: -120px -72px;
}
.list .icon-check {
  background-position: -144px -72px;
}
.list .icon-move {
  background-position: -168px -72px;
}
.list .icon-step-backward {
  background-position: -192px -72px;
}
.list .icon-fast-backward {
  background-position: -216px -72px;
}
.list .icon-backward {
  background-position: -240px -72px;
}
.list .icon-play {
  background-position: -264px -72px;
}
.list .icon-pause {
  background-position: -288px -72px;
}
.list .icon-stop {
  background-position: -312px -72px;
}
.list .icon-forward {
  background-position: -336px -72px;
}
.list .icon-fast-forward {
  background-position: -360px -72px;
}
.list .icon-step-forward {
  background-position: -384px -72px;
}
.list .icon-eject {
  background-position: -408px -72px;
}
.list .icon-chevron-left {
  background-position: -432px -72px;
}
.list .icon-chevron-right {
  background-position: -456px -72px;
}
.list .icon-plus-sign {
  background-position: 0 -96px;
}
.list .icon-minus-sign {
  background-position: -24px -96px;
}
.list .icon-remove-sign {
  background-position: -48px -96px;
}
.list .icon-ok-sign {
  background-position: -72px -96px;
}
.list .icon-question-sign {
  background-position: -96px -96px;
}
.list .icon-info-sign {
  background-position: -120px -96px;
}
.list .icon-screenshot {
  background-position: -144px -96px;
}
.list .icon-remove-circle {
  background-position: -168px -96px;
}
.list .icon-ok-circle {
  background-position: -192px -96px;
}
.list .icon-ban-circle {
  background-position: -216px -96px;
}
.list .icon-arrow-left {
  background-position: -240px -96px;
}
.list .icon-arrow-right {
  background-position: -264px -96px;
}
.list .icon-arrow-up {
  background-position: -289px -96px;
}
.list .icon-arrow-down {
  background-position: -312px -96px;
}
.list .icon-share-alt {
  background-position: -336px -96px;
}
.list .icon-resize-full {
  background-position: -360px -96px;
}
.list .icon-resize-small {
  background-position: -384px -96px;
}
.list .icon-plus {
  background-position: -408px -96px;
}
.list .icon-minus {
  background-position: -433px -96px;
}
.list .icon-asterisk {
  background-position: -456px -96px;
}
.list .icon-exclamation-sign {
  background-position: 0 -120px;
}
.list .icon-gift {
  background-position: -24px -120px;
}
.list .icon-leaf {
  background-position: -48px -120px;
}
.list .icon-fire {
  background-position: -72px -120px;
}
.list .icon-eye-open {
  background-position: -96px -120px;
}
.list .icon-eye-close {
  background-position: -120px -120px;
}
.list .icon-warning-sign {
  background-position: -144px -120px;
}
.list .icon-plane {
  background-position: -168px -120px;
}
.list .icon-calendar {
  background-position: -192px -120px;
}
.list .icon-random {
  background-position: -216px -120px;
  width: 16px;
}
.list .icon-comment {
  background-position: -240px -120px;
}
.list .icon-magnet {
  background-position: -264px -120px;
}
.list .icon-chevron-up {
  background-position: -288px -120px;
}
.list .icon-chevron-down {
  background-position: -313px -119px;
}
.list .icon-retweet {
  background-position: -336px -120px;
}
.list .icon-shopping-cart {
  background-position: -360px -120px;
}
.list .icon-folder-close {
  background-position: -384px -120px;
}
.list .icon-folder-open {
  background-position: -408px -120px;
  width: 16px;
}
.list .icon-resize-vertical {
  background-position: -432px -119px;
}
.list .icon-resize-horizontal {
  background-position: -456px -118px;
}
.list .icon-hdd {
  background-position: 0 -144px;
}
.list .icon-bullhorn {
  background-position: -24px -144px;
}
.list .icon-bell {
  background-position: -48px -144px;
}
.list .icon-certificate {
  background-position: -72px -144px;
}
.list .icon-thumbs-up {
  background-position: -96px -144px;
}
.list .icon-thumbs-down {
  background-position: -120px -144px;
}
.list .icon-hand-right {
  background-position: -144px -144px;
}
.list .icon-hand-left {
  background-position: -168px -144px;
}
.list .icon-hand-up {
  background-position: -192px -144px;
}
.list .icon-hand-down {
  background-position: -216px -144px;
}
.list .icon-circle-arrow-right {
  background-position: -240px -144px;
}
.list .icon-circle-arrow-left {
  background-position: -264px -144px;
}
.list .icon-circle-arrow-up {
  background-position: -288px -144px;
}
.list .icon-circle-arrow-down {
  background-position: -312px -144px;
}
.list .icon-globe {
  background-position: -336px -144px;
}
.list .icon-wrench {
  background-position: -360px -144px;
}
.list .icon-tasks {
  background-position: -384px -144px;
}
.list .icon-filter {
  background-position: -408px -144px;
}
.list .icon-briefcase {
  background-position: -432px -144px;
}
.list .icon-fullscreen {
  background-position: -456px -144px;
}
.list .node .title-edit input {
  border: 1px solid #8c8c8c;
  outline: none;
  padding: 2px;
}
.list .node .title-edit span {
  margin-left: 4px;
  margin-right: 4px;
  color: #8c8c8c;
}
.list .node .highlight {
  background-color: #ba0000;
  color: white;
}
.list .node span.title {
  cursor: default;
}
.list .leaf .leaf-content {
  border-bottom: 1px solid #dddddd;
}
.list .leaf .leaf-icon {
  background-image: url("../glyphicons/../glyphicons/../glyphicons/../glyphicons/glyphicons-halflings.png");
}
.list .leaf.editing {
  padding-top: 0px;
  padding-bottom: 0px;
}
.list .leaf .leaf-content {
  background: #f2f2f2;
  padding-left: 12px;
}
.list .composite .composite-icon {
  display: none;
}
.list .composite .expander {
  cursor: pointer;
}
.list .composite .expander .expander-icon {
  background-image: url("../glyphicons/../glyphicons/../glyphicons/../glyphicons/glyphicons-halflings.png");
  background-position: 0 -96px;
}
.list .composite .expander .expander-icon.open {
  background-position: -24px -96px;
}
.list .composite .composite-content {
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #ededed 0%, #e1e1e1 100%);
  background: -o-linear-gradient(top, #ededed 0%, #e1e1e1 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #e1e1e1 100%);
  background: linear-gradient(to bottom, #ededed 0%, #e1e1e1 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#e1e1e1', GradientType=0);
  border-top: 1px solid white;
  border-bottom: 1px solid #b4b4b4;
}
.list .composite .composite-content .title {
  font-weight: bold;
}
.list #search input {
  border: 1px solid #696969;
  height: 20px;
  width: 160px;
  margin-bottom: 10px;
  margin-right: 6px;
}
.list #search #results {
  display: inline-block;
  margin-bottom: 10px;
}
.list #search #results #clear-results {
  cursor: pointer;
}
.list .highlight {
  color: #1e90ff;
}
.list .icon {
  float: left;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin: 8px;
  margin-top: 14px;
}
.list .strong {
  font-weight: bold;
}
.list ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.list li {
  line-height: 44px;
}
.list *:focus {
  outline: none;
}
