.list {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 10px;
  width: 280px;
}
.list > ul > li {
  padding-left: 0;
}
.list .node .title-edit input {
  border: 1px solid #8c8c8c;
  outline: none;
  padding: 2px;
}
.list .node .title-edit span {
  margin-left: 4px;
  margin-right: 4px;
  color: #8c8c8c;
}
.list .node .highlight {
  background-color: #ba0000;
  color: white;
}
.list .node span.title {
  cursor: default;
}
.list .leaf .leaf-icon {
  background-image: url("img/file.gif");
}
.list .leaf.editing {
  padding-top: 0px;
  padding-bottom: 0px;
}
.list .composite .composite-icon {
  background-image: url("img/folder-closed.gif");
}
.list .composite .composite-icon.open {
  background-image: url("img/folder-open.gif");
}
.list .composite .expander {
  cursor: pointer;
  float: left;
  width: 16px;
}
.list .composite .expander .expander-icon {
  margin-top: 4px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}
.list .composite .expander .expander-icon.open {
  margin-top: 6px;
  border-bottom: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.list .composite .composite-content .title {
  font-weight: bold;
}
.list #search input {
  border: 1px solid #696969;
  height: 20px;
  width: 160px;
  margin-bottom: 10px;
  margin-right: 6px;
}
.list #search #results {
  display: inline-block;
  margin-bottom: 10px;
}
.list #search #results #clear-results {
  cursor: pointer;
}
.list .highlight {
  color: #1e90ff;
}
.list .icon {
  float: left;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 4px;
  margin-top: 2px;
}
.list .strong {
  font-weight: bold;
}
.list ul,
.list li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.list li {
  margin-top: 4px;
  padding-left: 20px;
  line-height: 22px;
}
.list > ul > li {
  padding-left: 0;
}
.list *:focus {
  outline: none;
}
