.list {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 10px;
}
.list .node .title-edit input {
  border: 1px solid #8c8c8c;
  outline: none;
  padding: 2px;
}
.list .node .title-edit span {
  margin-left: 4px;
  margin-right: 4px;
  color: #8c8c8c;
}
.list .node .highlight {
  background-color: #ba0000;
  color: white;
}
.list .leaf .icon-leaf {
  background-image: url("img/leaf.gif");
}
.list .leaf.editing {
  padding-top: 0px;
  padding-bottom: 0px;
}
.list .composite .icon-composite {
  background-image: url("img/composite-closed.gif");
}
.list .composite .icon-composite.open {
  background-image: url("img/composite-open.gif");
}
.list .composite .arrow {
  float: left;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.list .composite .arrow .arrow-icon {
  float: left;
  width: 0;
  height: 0;
  margin-top: 1px;
  margin-left: 3px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}
.list .composite .arrow .arrow-icon.open {
  margin-top: 3px;
  margin-left: 0px;
  border-bottom: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.list .hidden {
  display: none !important;
}
.list .highlight {
  color: #1e90ff;
}
.list .icon {
  float: left;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.list span.title {
  cursor: default;
}
.list .strong {
  font-weight: bold;
}
.list ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.list li {
  margin: 2px;
  padding: 4px;
  padding-left: 20px;
}
.list #search input {
  border: 1px solid #696969;
  height: 20px;
  margin-bottom: 8px;
}
.list #search #results {
  display: inline-block;
}
.list #search #results #clear-results {
  cursor: pointer;
}
.list *:focus {
  outline: none;
}
